.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
}

.button > * {
  pointer-events: none;
}

.locked {
  cursor: default;
  background-color: #444444;
}

.locked:hover {
  background-color: #444444 !important;
}

.button:hover {
  text-decoration: none;
  background-color: var(--color-secondary);
}

.button:active:not(.locked) {
  letter-spacing: 0.1rem;
}
