.toolTipWrapper {
  display: inline-block;
  position: relative;
}

.toolTip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  color: #b6b3b3;
  background: black;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
}

.toolTip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.toolTip.top {
  bottom: 100%;
  margin-bottom: 2px;
}

.toolTip.bottom {
  margin-top: 2px;
}

.toolTip.left {
  top: 50%;
  transform: translateY(-50%);
  left: calc(-50% - 2px);
}

.toolTip.right {
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 2px);
}
