.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 30%;
}

.shadowCard {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.translationCard {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.translationCardHighlight {
  background-color: rgb(73, 107, 190, 0.1);
  border-radius: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  width: fit-content;
}

.translationCardOrthList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.translationCardOrthList > p {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

.translationCardDefinitionContainer h3{
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

.translationCardDefinitionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.translationCardDefinitionContainer > p {
  margin: 2px;
}

.buttonBottom {
  align-self: stretch;
  margin-top: auto;
}

.resourceCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.translationCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  min-width: 60%;
}

.cardTitle {
  font-size: 1.9rem;
  font-weight: 700;
}

.visibilityOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.visibilityButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 1280px) {
  .translationCardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .translationCard {
    width: 90%;
  }

  .translationCard > * {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
}

@media (max-width: 801px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}
