.input {
  padding: 0.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  transition: 0.25s;
}

.input:focus {
  outline: none;
  border-color: var(--color-secondary) !important;
}

.input::placeholder {
  color: var(--color-primary);
}

@media (max-width: 450px) {
  .input {
    text-align: center;
  }
}
