.nav {
  display: flex;
}

.logo {
  padding-left: 1rem;
  padding-right: 1rem;
}

.active {
  background-color: rgb(73, 107, 190, 0.1);
}

.scrolled {
  backdrop-filter: blur(10px);
  box-shadow: rgb(68, 68, 68, 0.1) 0px 2px 0px;
}

.link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid rgb(68, 68, 68, 0);
  transition: 0.25s;
}

.link:hover {
  text-decoration: none;
}

.link:hover {
  background-color: rgb(73, 107, 190, 0.1);
}

.pageTitleContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.linkContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .nav {
    flex-direction: column;
  }

  .pageTitleContainer {
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .linkContainer {
    gap: 2px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
