@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #496bbe;
  --color-secondary: #2a4b8c;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

.prose {
  padding-left: 1rem;
}

.prose p {
  padding-left: 1rem;
}

.prose h1 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
  margin: 8px;
}

.prose h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 4px;
}

.prose h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 4px;
}

.prose h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 4px;
}

.prose ul {
  list-style: disc;
  padding-left: 2rem;
}

.prose pre {
  padding-left: 1.5rem;
}

.prose > table {
  margin-left: 2rem;
  margin-bottom: 4px;
}

.prose table thead {
  text-align: left;
}
