.hero {
  padding-top: 10rem;
  padding-bottom: 1rem;
  width: 100%;
  min-height: calc(100vh - 15rem);
  background: radial-gradient(ellipse, #87cefa 20%, #fff 70%);
}

.shadow {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.callToActionButton {
  width: fit-content;
  margin: 0 auto;
  margin-top: 5px;
}

.learnMoreButton {
  width: fit-content;
  margin: 0 auto;
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 1.2rem;
}

.learnMoreButton > * {
  margin: 0 auto;
}

.learnMoreButton:hover {
  background-color: #ffffff00;
  text-decoration: none;
}

.learnMoreArrow {
  transform: rotate(-90deg);
}

.sectionContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sectionContainer h2 {
  margin: 5px;
  font-size: 1.9rem;
}

.featureContainer {
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 75vw;
  padding: 1rem 2rem;
  transition: 0.2s;
}

.featureContainer:hover {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
}

.featureContainer h3 {
  margin: 0;
}
