.practiceNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.practiceLink {
  text-align: center;
}

.chartTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.chartTitle > * {
  margin: 0;
}

@media (max-width: 600px) {
  .practiceNav {
    flex-direction: column;
  }

  .practiceLink {
    width: 80%;
  }
}
