.searchContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 10px;
}

.searchContainer > input[type="text"] {
  background-color: #FFFFFF60;
  backdrop-filter: blur(10px);
}

.background {
  background: radial-gradient(
    circle at top right,
    #87cefa 15rem,
    #d9c0f3 40rem,
    #fff 50rem
  );
}
