.chart {
  border-collapse: collapse;
}

.chart th {
  background-color: #f6f6f6;
  border: 2px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

.chart td {
  border: 2px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

.chart td input {
  border: 2px solid #ddd;
  font-size: 1rem;
  text-align: center;
  border-radius: 0;
  width: 90%;
}

.chart td input.right {
  border-color: green;
}

.chart td input.wrong {
  border-color: red;
}

@media (max-width: 550px) {
  .chart td input {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .chart td input {
    width: 60%;
  }
}