.chart {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.chart th {
  background-color: rgb(42, 75, 140, 0.4);
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.chart td {
  border: none;
  padding: 0.5rem;
}

.chart tr:first-child td:not(:first-child) {
  border-top: 2px solid #fff;
}

.chart tr td:nth-child(2) {
  border-left: 2px solid #fff;
}

.chart td {
  background-color: rgb(73, 107, 190, 0.3);
}

.chart th:first-child {
  text-align: left;
  border-top-left-radius: 1rem;
}

.chart th:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0.5rem;
}

.chart td:first-child {
  text-align: left;
  background-color: rgb(42, 75, 140, 0.4);
}

.chart tr:nth-child(1) td:first-child + td {
  border-top-left-radius: 0.5rem;
}

.chart tr:first-child td:last-child {
  border-top-right-radius: 0.5rem;
}

.chart tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0.5rem;
}

.chart tr:last-child td:first-child + td {
  border-bottom-left-radius: 0.5rem;
}

.chart tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

.chart td input {
  all: unset;
  width: 90%;
  padding: 0.25rem;
  border: none;
  border-bottom: 1px solid #496bbe;
  font-size: 1rem;
  background-color: transparent;
}

.chart td input:focus {
  outline: none;
}

.chart td input.right {
  border-bottom: 1px solid green;
}

.chart td input.wrong {
  border-bottom: 1px solid red;
}

@media (max-width: 768px) {
  .chart td input {
    font-size: 0.8rem;
  }
}
